<div class="container ">
  <b>{{ nombreUsuario}}</b>
  <div *ngIf="!isAddedUser">

    

    <br />
    <label>Name</label>
    <input [(ngModel)]="userName" class="form-control" (keyup)="$event.keyCode == 13 && access()" />

    <br />

    <div style="text-align: right;">
      <button (click)="access()" class="btn btn-primary" [disabled]=!userName>Save</button>
    </div>

  </div>
  <div *ngIf="isAddedUser">

    
    <br />
    <div *ngFor="let msj of messages" style="font-size: medium;">

      {{msj}}
    </div>
    <div class="container fluid">
      <br />
    </div>

    <div>
      <input [(ngModel)]="message" class="form-control" (keyup)="$event.keyCode == 13 && sendMessage()" /><br />
      <button (click)="sendMessage()" class="btn btn-success">Send</button>
    </div>


    <br />
    
  </div>

</div>